> article
    padding: 0 10px 25px 20px
    @media (max-width: 600px)
        padding: 0 1rem
    h1
    	color: #01539c
    	font-size: 1.5rem
    	font-weight: normal
    /*h1.main-h1
        @media (max-width: 600px)
            margin-top: 0*/
    p, ul li
    	color: #545454
    	font-size: 0.9rem
    .review-list
    	.item
    		padding: 1rem
    		&:nth-of-type(2n+1)
    			background: #eee
    .video-list
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        .item
            width: 435px
            @media (max-width: 600px)
                width: 100vw
                iframe
                    width: 86vw

    ul.pagination
        display: flex
        list-style: none
        padding: 0
        li
            padding-right: 1rem 
            &.active
                a
                    text-decoration: none 
    .news-list
        .item
            display: flex
            margin-bottom: 1rem
            align-items: flex-start
            img
                margin-right: 1rem
            @media (max-width: 600px)
                flex-wrap: wrap    
            

    .filter-list
        display: flex
        flex-wrap: wrap
        .item
            border: 1px solid #d0d0d0
            border-radius: 6px
            display: flex
            align-items: flex-start
            width: 445px
            margin-right: 1rem
            margin-bottom: 1rem
            margin-top: 1rem
            transition: 1s all
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0)
            &:hover
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15)
                border: 1px solid #eee
            > span
                min-width: 110px
                height: 100%
                background-size: cover    
            .n188-1
                background-image:url(/pages/filters/110-188-1.jpg)
            .n188-2
                background-image:url(/pages/filters/110-188-2.jpg)
            .n188-3
                background-image:url(/pages/filters/110-188-3.jpg)
                
            .desc
                background: #eee
                padding: 1rem
                margin-left: 1rem
                &.cat
                   margin-left: 0rem
                   height: 100% 
                .price
                    color: #de1d1d
                    font-size: 1.5rem
    .bread
        background: #eee
        margin-left: -20px
        margin-right: -10px
        padding: 0.5rem
        padding-left: 20px
        @media (max-width: 880px)
            margin-left: -1rem 
            margin-right: -1rem 
    ul.gallery
        padding: 0
        list-style: none
        display: flex
        @media (max-width: 600px)
            flex-wrap: wrap
        li
            margin-right: 0.5rem
    .filter-price
        color: #de1d1d
        font-size: 1.5rem              
    .filter-desc
        display: flex
        align-items: flex-start
        @media (max-width: 600px)
            flex-wrap: wrap
        > img
            @media (max-width: 600px)
                width: 100%  
        > .rest
            padding-left: 1rem
            ul
                padding: 0
                list-style-position: inside
    .main-photo
        @media (max-width: 600px)
            width: 100%                
