> footer
	display: flex
	p.copy
		font-size: 0.7rem
		width: 250px
		padding: 0 1rem
		align-self: flex-end
	.right-part
		p
			color: #a5a5a5
			background-color: #e4e4e4
			padding: 8px 18px 0 18px
			font-size: 10px
			margin: 0
