<a href="/news/" class="red-button">Новости</a>
<div class="news-list">
	<div class="item">

		<div class="head">
			<img src="/n1.jpg" loading="lazy" width="130" height="97">
			<div class="title">
				<p class="title">Что подарить на день рождения в 2015 году?</p>
				<p class="date">25.02.2015</p>	
			</div>
			
		</div>

		<p class="excerpt">Большинство людей покупая какую-нибудь полезную или нужную вещь в подарок хотят сделать это максимально выгодно и не в ущерб качеству. Ни для кого не секрет, что в году есть несколько дней, когда в магазинах действуют беспрецедентные акции и скидки: накануне Рождества и Нового года, Дня Святого Валентина, Дня Защитника Отечества и так далее. За 15 дней до конца любого месяца в 2015-м году вас ожидает очень приятный сюрприз от нашей компании.</p>
		<p class="more"><a href="/news/46/">Подробнее</a></p>
	</div>
	<div class="item">

		<div class="head">
			<img src="/n2.jpg" loading="lazy" width="130" height="97">
			<div class="title">
				<p class="title">Купим ваш старый фильтр в Музей старинных вещей?</p>
				<p class="date">24.02.2015</p>	
			</div>
			
		</div>

		<p class="excerpt">В 2015-м году компания ООО "Блюфильтерс" решила сделать для своих будущих и действующих клиентов замечательный подарок, похожий на trade in при покупке нового автомобиля, - мы сделаем вам скидку при покупке нового фильтра, равную стоимости вашей устаревшей системы очистки воды.</p>
		<p class="more"><a href="/news/45/">Подробнее</a></p>
	</div>
</div>
<a href="/news/" class="news-archive">Архив новостей</a>