
{{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}


<p class='copy'>&copy; 2013-2017 ООО "Блюфильтерс"</p>
<div class="right-part">
	
	<p>Свидетельство о государственной регистрации №191842869 от 17.09.2012 г.</p>
	<p>Интернет-магазин зарегистрирован 04.02.2013 г. в Торговом реестре за № 533</p>
</div>

<ul>
	<li><img src="/social/vk.svg" loading="lazy" width="24px"></li>
	<li><img src="/social/twitter.svg" loading="lazy" width="24px"></li>
	<li><img src="/social/facebook.svg" loading="lazy" width="24px"></li>
</ul>
