<a href="/">
<picture>
	<source media="(max-width: 599px)" sizes="0px" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 1w">

	<source media="(min-width: 600px)" sizes="300px" srcset="/logo.webp">
	<img src="/logo.png" alt="This is a default image">
</picture>
</a>
<span class="desc"><b>BLUEFILTERS</b> – системы и фильтры для очистки воды премиум-класса</span>
<div class="arrow">
	<p>
		+375 17
		<span class="bigger">
			396-74-74
		</span>
	</p>
	<p>
		+375 29
		<span class="bigger">
			184-0000
		</span>
	</p>
</div>
<div class="red-nav">
	<ul>
		<li><a href="/filters/flat/">Фильтры для квартиры</a></li>
		<li><a href="/filters/cottage/">Фильтры для коттеджа</a></li>
		<li><a href="/filters/ind/">Промышленные фильтры</a></li>
	</ul>
</div>
<ul class="mobile-header" style="display: none">
	<li class="logo"><a href="/">BLUEFILTERS</a></li>
	<li><a href="tel:+375173967474">+375 17 396-74-74</a></li>
	<li class="openMenu">☰</li>
	<nav style="display: none">
		<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/filters/">Фильтры</a></li>
			<li><a href="/review/">Отзывы</a></li>
			<li><a href="/video/">Видео</a></li>
			<li><a href="/news/">Новости</a></li>
			<li><a href="/contacts/">Контакты</a></li>
		</ul>
	</nav>
</ul>