<a href="/"><img src="/logo.webp" onerror="this.onerror=null; this.src='/logo.png'"></a>
<span class="desc"><b>BLUEFILTERS</b> – системы и фильтры для очистки воды премиум-класса</span>
<div class="arrow">
	<p>
		+375 17
		<span class="bigger">
			396-74-74
		</span>
	</p>
	<p>
		+375 29
		<span class="bigger">
			184-0000
		</span>
	</p>
</div>
<div class="red-nav">
	<ul>
		<li><a href="#">Фильтры для квартиры</a></li>
		<li><a href="#">Фильтры для коттеджа</a></li>
		<li><a href="#">Промышленные фильтры</a></li>
	</ul>
</div>